.home {
  /* background-image: url(../images/Home/home_img_6.jpg); */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  align-items: left;
  margin-left: 30px;
}

/* .home-container h2 {
  font-weight: bold;
  font-size: 70px;
}

.home-container p {
  
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
} */
